# U.S. Medical Insurance Costs

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

### Task 1: Average age of patients

In [7]:
averageAge = df['age'].mean()
print(round(averageAge, 2))

39.21

### Task 2: Location of majority

In [8]:
mostCommonLocation = df['region'].mode().iloc[0]
print(mostCommonLocation)

southeast

### Task 3: Cost of smoker and no-smoker

In [11]:
smokerAv = df.groupby('smoker').mean()
print(smokerAv)

              age        bmi  children       charges
smoker
no      39.385338  30.651795  1.090226   8434.268298
yes     38.514599  30.708449  1.113139  32050.231832

### Task 4: Male vs. Female costs

In [13]:
gender = df.groupby('sex').mean()
print(gender)

              age        bmi  children       charges
sex
female  39.503021  30.377749  1.074018  12569.578844
male    38.917160  30.943129  1.115385  13956.751178

### Task 5: Average age for having children

In [18]:
childNum = df[df['children']>0].mean()
print(childNum)

age            39.780105
bmi            30.748370
children        1.917539
charges     13949.941093
dtype: float64

C:\Users\sacfd\AppData\Local\Temp\ipykernel_6684\1752436212.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  childNum = df[df['children']>0].mean()